<div style="color: black; background: white">
  <!-- Header -->
  <div style="text-align: center">
    <img src="https://res.cloudinary.com/da0ucjlxx/image/upload/v1691611788/Adalat.pk_wrotwb.png" alt="Adalat.pk Logo" style="width: 7vw; height: 7vw;">
  </div>

  <!-- Body -->
  <div>
    <div>
      <div style="padding: 1rem 1rem 0 0">To whom it may concern,</div>
      <div>
        <p>I hope this email finds you well. As the founder of Adalat.pk, I wanted to introduce our firm, <a href="https://adalat.pk">Adalat.pk</a>, 
        and extend an invitation to explore how our expert tax attorneys can benefit you or your business.</p>
        <p>Navigating the complex landscape of taxation laws can be a daunting task, and this is where Adalat.pk shines. 
        With a team of experienced tax attorneys, we specialize in providing comprehensive taxation law services 
        tailored to meet a wide range of tax-related needs.</p>
        <div>
          Our Income Tax Return services cover a spectrum of offerings, including:
          <ul>
            <li>NGO registration</li>
            <li>Call Center registration</li>
            <li>Software House registration</li>
            <li>Company Formation</li>
            <li>Income Tax Return Filing</li>
            <li>Sales Tax Return Guidance:</li>
            <li>Audit Assistance</li>
            <li>Tax Exemption Certificate (Form 2, 36)</li>
            <li>Individual & Business Income Tax Return Services</li>
            <li>Proactive Tax Planning</li>
            <li>Foreign Income Reporting</li>
            <li>Tax Compliance for Expatriates</li>
            <li>Capital Gains Tax</li>
            <li>Tax Appeals and Litigation</li>
          </ul>
          Your can explore more about our Tax Return services <a href="https://adalat.pk/services/taxation-law">here</a>
        </div>
        <p>
          We invite you to visit our <a href="https://adalat.pk/services">services page</a> to learn more about how <a href="https://adalat.pk">Adalat.pk</a> can assist you in your taxation needs.
          Don't wait until the last minute; let's work together to ensure you become a filer before the September 30 
          deadline.
        </p>
        <p>If you're interested in exploring how our expert tax attorneys can assist you or your clients, 
        please feel free to respond to this email or reach out to us at <a href="https://wa.me/+92-3170730531" target="_blank">Whattsapp</a>. 
        We would be delighted to arrange a consultation to discuss your specific needs.</p>
        <p>
          Thank you for considering <a href="https://adalat.pk">Adalat.pk</a> as your trusted partner in taxation law. We look forward to the 
          possibility of working together.
        </p>
        <p>Warm regards,</p>
        <p>Imran Zulfiqar</p>
        <p>Founder, Adalat.pk</p>
        <p>Website: www.adalat.pk</p>
        <p>Whattsapp: 0317-0730531</p>
        <p>Email: contact@adalat.pk</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div><h3> THANKS FOR USING ADALAT.PK </h3>
</div>